.invalid-feedback{
    animation: fadeBottom 0.2s;
    transition: all ease-in-out;
    border-radius: 0 0 8px 8px;
}

@keyframes fadeBottom {
    from { transform: translateY(-5px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

#username,#password:focus{
    outline: none;
}

#searchbar:focus{
    outline: none;
}

#nis,#nama_murid,#date,#address,#parents,#contact,#class,#tahunMasuk:focus{
    outline: none;
}